.btn {
  display: inline-block;
  min-width: 240px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(to right, $color-cta, $color-cta-gradient);
  border-radius: 25px;
}