.text-input {
  display: inline-block;
  width: 100%;
  min-width: 200px;
  padding: 16px 25px;
  background: $color-light;
  border-radius: 25px;
  color: $color-dark;
  border: transparent;
}