.text-input {
  display: inline-block;
  min-width: 240px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: $color-light;
  border-radius: 25px;
  color: $color-grey;
  border: transparent;
}