<article class="card-@@cardId">
  <div class="card__content">
    <p class="card__text">@@text</p>
    <div class="card__flex-container">
      <div class="card__img-container img-container">
        <img
          src="./assets/images/@@imgSrc"
          alt="@@imgAlt"
          title="@@imgTitle"
          role="img"
          class="img card__image"
        />
      </div>
      <div>
        <p class="card__text--bold">@@name</p>
        <p class="card__text--small">@@job</p>
      </div>
    </div>
  </div>
</article>