<div class="footer__flex-inner">
  <nav class="footer-menu" role="navigation">
    <ul class="footer-menu__list" role="list">
      <li class="footer-menu__list-item" role="list-item">
        <include src="./components/link.html" url="#" text="About us" linkClass="link--secondary">
        </include>
      </li>
      <li class="footer-menu__list-item" role="list-item">
        <include src="./components/link.html" url="#" text="Jobs" linkClass="link--secondary"> </include>
      </li>
      <li class="footer-menu__list-item" role="list-item">
        <include src="./components/link.html" url="#" text="Press" linkClass="link--secondary"> </include>
      </li>
      <li class="footer-menu__list-item" role="list-item">
        <include src="./components/link.html" url="#" text="Blog" linkClass="link--secondary"> </include>
      </li>
    </ul>
  </nav>

  <nav class="footer-menu" role="navigation">
    <ul class="footer-menu__list" role="list">
      <li class="footer-menu__list-item" role="list-item">
        <include src="./components/link.html" url="#" text="Contact us" linkClass="link--secondary">
        </include>
      </li>
      <li class="footer-menu__list-item" role="list-item">
        <include src="./components/link.html" url="#" text="Terms" linkClass="link--secondary"> </include>
      </li>
      <li class="footer-menu__list-item" role="list-item">
        <include src="./components/link.html" url="#" text="Privacy" linkClass="link--secondary">
        </include>
      </li>
    </ul>
  </nav>