<nav class="footer-menu--flex" role="navigation">
  <ul class="footer-menu--flex__list" role="list">
    <li class="footer-menu--flex__list-item" role="list-item">
      <a href="#" class="footer-menu__link" role="link">
        <i class="fab fa-facebook-f footer-menu__icon" role="image"></i>
      </a>
    </li>
    <li class="footer-menu--flex__list-item" role="list-item">
      <a href="#" class="footer-menu__link" role="link" role="image">
        <i class="fab fa-twitter footer-menu__icon"></i>
      </a>
    </li>
    <li class="footer-menu--flex__list-item" role="list-item">
      <a href="#" class="footer-menu__link" role="link" role="image">
        <i class="fab fa-instagram footer-menu__icon"></i>
      </a>
    </li>
  </ul>
</nav>