<ul class="contact-list">
  <li class="contact-list__item">
    <div class="contact-list__flex-container">
      <img
        src="./assets/images/icon-location.svg"
        alt=""
        title=""
        class="contact-list__image"
      />
      <p class="contact-list__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua
      </p>
    </div>
  </li>
  <div class="contact-list__flex-inner">
    <li class="contact-list__item">
      <div class="contact-list__flex-container">
        <img
          src="./assets/images/icon-phone.svg"
          alt=""
          title=""
          class="contact-list__image"
        />
        <p class="contact-list__text">+1-543-123-4567</p>
      </div>
    </li>
    <li class="contact-list__item">
      <div class="contact-list__flex-container">
        <img
          src="./assets/images/icon-email.svg"
          alt=""
          title=""
          class="contact-list__image"
        />
        <p class="contact-list__text">example@fylo.com</p>
      </div>
    </li>
  </div>
</ul>