<nav class="header-menu" role="navigation">
  <ul class="header-menu__list" role="list">
    <li class="header-menu__list-item" role="list-item">
      <include src="./components/link.html" url="#" text="Features"> 
      </include>
    </li>
    <li class="header-menu__list-item" role="list-item">
      <include src="./components/link.html" url="#" text="Team"> 
      </include>
    </li>
    <li class="header-menu__list-item" role="list-item">
      <include src="./components/link.html" url="#" text="Sign in"> 
      </include>
    </li>
  </ul>
</nav>