<section class="hero">
  <div class="hero__content">
    <div class="hero__img-container img-container">
      <img
        src="./assets/images/illustration-intro.png"
        alt="Color illustration showing two people saving and sorting multiple files within a folder"
        title="All files in one single location"
        role="img"
        class="img"
      />
    </div>
    <div class="hero__text-container">
      <h2 class="hero__title">All your files in one secure location, accessible anywhere.</h2>
      <p class="hero__description">
        Fylo stores all your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends family, and
        co-workers.
      </p>
      <include src="./link.html" text="Get Started" linkClass="hero__link btn"></include>
    </div>
  </div>
</section>
