.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2.3rem;
  background-color: $color-bg;
  @media all and (min-width: 1200px) {
    padding-top: 3rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-family: $font-family-secondary;
    line-height: $line-height;
    @media all and (min-width: 1200px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  &__title {
    margin: 0;
    line-height: 0;
  }

  &__icon {
    min-width: 100px;
    height: auto;
  }
}

.header-menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item:not(:first-child) {
    margin-left: 1rem;
  }
}
