body {
  // padding: 1rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  color: $color-light;
  line-height: $line-height;
}
